body{
}

.tablu{
       border: 3px solid black;
}

th ,td{
  border: 3px solid black;
}

#second{
  width: 50%;
  border: thin solid black;
  border-radius: 15px;
  padding: 50px 70px;
  margin: 50px auto;
  overflow: none;
}

.Pics{
    text-align: center;
    background-image: url(https://c7.uihere.com/files/349/694/474/elegant-blue-mandala-background-thumb.jpg);
    height: 400;
    width: 500;
    border: 5px solid black;
    padding: 50px 200px;
    margin: 50px 200px;
    overflow: hidden;
}

img{
  border: thin solid black;
  border-radius: 50%;
  position: static;
  right: 100px;
}

#third{
  text-align: center;
  height: auto;
  width: auto;
  border: medium solid blue;
  border-radius: 7px;
  padding: 30px 50px;
  margin: 50px 70px;
}

.Soup{
  position: static;
  left: 50%;
}
